@import './functions.scss';

.demo-block {
  padding: vw(80);
  .demo-card {
    margin-right: vw(80);
    margin-bottom: vw(70);
    display: inline-block;
    vertical-align: bottom;
  }
}
input{
  position: relative;
  border: none;
  height: inherit;
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: rgba(0,0,0,0);
  display: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  vertical-align: middle;
  text-align: inherit;
  overflow: inherit;
  white-space: inherit;
  text-overflow: inherit;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
  opacity: inherit;
}